<%= form_for @user do |f| %>
<%= f.fields_for @user_details, class: "payment-content" do |details_form| %>
  <div class="payment-traveller mb-0">
    <div class="form-horizontal">
      <div class="form-group gap-20">
        <label class="col-sm-4 col-md-4 control-label">姓</label>
        <div class="col-sm-8 col-md-6">
          <%= details_form.text_field :lastname, class:"form-control" %>
        </div>
      </div>
    </div>
    <div class="form-horizontal">
      <div class="form-group gap-20">
        <label class="col-sm-4 col-md-4 control-label">名</label>
        <div class="col-sm-8 col-md-6">
          <%= details_form.text_field :firstname, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-horizontal">
      <div class="form-group gap-20">
        <label class="col-sm-4 col-md-4 control-label">郵便番号:</label>
        <div class="col-sm-8 col-md-6">
          <%= details_form.number_field :postalcode, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-horizontal">
      <div class="form-group gap-20">
        <label class="col-sm-4 col-md-4 control-label">電話番号:</label>
        <div class="col-sm-8 col-md-6">
          <%= details_form.number_field :callnumber, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-horizontal">
      <div class="form-group gap-20">
        <label class="col-sm-4 col-md-4 control-label">住所:</label>
        <div class="col-sm-8 col-md-6">
          <%= details_form.text_field :place, class: "form-control" %>
        </div>
      </div>
    </div>
     <% if @user.persisted? %>
        <%= details_form.check_box :_destroy %>
        <%= details_form.label :_destroy, "削除" %><br />
      <% end %>
  </div>
  <div class="text-center">
    <%= details_form.button "購入者情報の編集", class: "btn btn-primary btn-sm btn-inverse" %>
  </div>

<% end %>
<% end %>
