<!DOCTYPE html>
<html>
<head>
  <title>TechBookL</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>techbook</title>
  <meta name="description" content="エンジニアのための書籍シェアリングサービス" />
  <meta name="keywords" content="Ruby, Ruby on Rails, JavaScript, PHP, JAVA, デザイン, 技術書, プログラミング, 書籍" />
  <meta name="author" content="crenoveative">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href=" #{ asset_path 'compiled.css'}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,300italic,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
</head>
<body>

<%= yield %>

</body>
</html>
